.expand-container {
  display: flex;
  flex-direction: column;
}

.viewhidden {
  opacity: 0;
  max-height: 0;
  border: none;
  transition: opacity .5s linear, max-height .5s linear;
}

.expand-container input[type="checkbox"]:checked+div {
  width: 100%;
  max-height: 99rem;
  z-index: 1;
  opacity: 1;
  height: auto;
  overflow: visible;

}

.follow {
  opacity: 0;
  max-height: 0;
  border: none;
  transition: opacity 1.5s linear, max-height 1.5s linear;

}


.transitionDiv {
  background: red;
  height: 100px;
  width: 200px;
  margin: 0 auto;
}
