/*! Table */
table {
	font-family: "DM sans", sans-serif;
  @apply w-full;
	thead {
		@apply divide-x-[10px]
	}
  thead tr {
    @apply bg-white border-b-[4px] border-b-gray-300;
  }
  tbody tr {
    @apply border-none border-b-gray-100;
		&:hover {
			@apply bg-blue-300;
		}		
  }
	tbody tr:nth-child(even) {@apply bg-[#edeeee]}
	tbody tr:nth-child(odd) {@apply bg-[#FFF]}
  td,
  th {
    @apply whitespace-nowrap p-3 text-left align-middle text-base text-[#707372];
  }
  th {
    @apply font-semibold text-lg text-[#575659];
  }
}

@media screen and (min-width: 1024px) {
  .table-users {
    tr {
      display: grid;
      grid-template-columns: 30% 20% 20% 10% 20%;
    }
    th,
    td {
      display: grid;
      align-items: center;
    }
  }
}

@media screen and (max-width: 1023.98px) {
  .table-users {
    @apply border-separate;
    border-spacing: 0;
    td:first-child,
    th:first-child {
      @apply sticky top-0 z-10 left-0 border-r border-r-gray-100;
      min-width: 150px;
    }
    td:first-child {
      @apply bg-white;
    }
    th:first-child {
      @apply bg-gray-100;
    }
    th,
    td {
      @apply border-b border-b-gray-100;
    }
  }
}
/* End: Table */